extends ../layout

block content
    .container
        ul
            if messages.success
                .alert.alert-success(role='alert')
                    for success in messages.success
                        div= success.msg
            if messages.error
                .alert.alert-danger(role='alert')
                    for error in messages.error
                        div= error.msg
        ul
            .panel
                .panel-body
                    h1 500 error - #{title}
                    if userID 
                        h2 User: #{userID} 
                    if cardID
                        h2 Card: #{cardID} 